.topics{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.quiz-logo img{
    width: 50%;
    height: 300px;
    margin-left: 300px;
}
@media only screen and (max-width: 600px){
    .topics{
        display: flex;
        flex-direction: column;
    }
    .quiz-logo img{
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }
}